@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./font/iconfont.woff2') format('woff2'),
      url('./font/iconfont.woff') format('woff'),
      url('./font/iconfont.ttf') format('truetype'),
      url('./font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  color #666
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body 
    background-color #f7f7f7
    width 100%
    height 100%
* 
    margin 0
    padding 0
a 
    text-decoration none
    color rgb(6,6,6)
.wrapper
    position relative
    width 100%
    height 100%

// 底部菜单
.footer
    position absolute 
    display: -webkit-flex;
    display flex
    width 100%
    height 6vh
    background-color #fff
    justify-content center
    align-content center
    bottom 0
    .footer-item
        flex 1
        text-align center
    .footer-item span.iconfont
        font-size 30px
        padding 9px 0
    .footer-item p 
        font-size 14px
        line-height 14px
        text-align center
        bottom 1px


//头部搜索
.search 
    width 100%
    height 7vh
    background-color rgb(22,120,255)
    display flex
    font-size 0
    .search-city
        width 120px
        padding 3px
        font-size 0
        .search-city-box
            margin 12px 4px
        span 
            display inline-block
            color #fff
            font-size 16px
        .iconfont
            font-size 20px
    .search-bar-form 
        position relative
        width 100%
        height 100%
        border-radius 4px
        font-size 0
        .search-bar-box
            position relative
            width 100%
            height 100%
            border-radius 4px
            .search-bar-input
                width 100%
                height 5vh
                margin 10px 0
                padding 0 30px
        span
            position absolute
            font-size 20px
            top 35%
        span.left
                left 0
        span.right
                right 0     
.search .search-my
        width 70px
        padding 3px
        margin 10px 10px
        .iconfont
            font-size 30px
            color #fff
//滑动内容
.container 
    height 87vh
    overflow-y scroll
    overflow-x hidden
    // 用户菜单
    .user 
        height  20vh
        width  90vw
        padding 1vh 5vw 1vh 5vw
        .user-items
            height  20vh
            width  90vw
            overflow hidden
            position relative
            border-radius 8px
            background-color #fff
            .user-items-box
                height 20vh
                width  90vw
                display flex
                flex-wrap wrap
                overflow-x scroll
                .user-item
                    width 18vw
                    height 10vh
                    display flex
                    align-items center
                    justify-content center
                    flex-direction column   
                    .iconfont
                        font-size 28px   
                    .icon-tilte
                        font-size 12px   
            .scroll 
                position relative
                height 2vh
                left 50%
                margin-left -10vw
                .white
                    height 0.5vh
                    width 20vw
                    border-radius 5px
                    position relative
                    background-color #f7f7f7
                .blue
                    position absolute
                    width 8vw
                    height 100%
                    border-radius 5px
                    background-color rgb(27,129,211)
    // 分区
    .nav 
        width 90vw
        height 8vh
        padding 0 5vw
        display flex
        justify-content center
        align-items center
        .nav-box
            flex 1
            border-radius 5px
            background-color #fff
            margin 0 3px
            padding 6px 3px 0 3px
            height 6.5vh
            display flex
            justify-content center
            position relative
            .nav-title
                width 16vw
                height 100%
                .title
                    font-size 14px
                .sub-title
                    font-size 12px
                    color #bbb
            .nav-img-box
                width 8vw
                height 4vh
                img 
                    width 100%
                    height 100%
            .icon-title
                position absolute
                top 0
                right 0
                border-radius 0 5px 0 5px
                color #fff
                font-size 6px
                background-color rgb(249,130,2)
    // 广告
    .banner 
        width 90vw
        height 13vh
        padding 1vh 5vw
        .banner-box
            border-radius 5px
            width 100%
            height 100%
            background url(./images/banner.jpg)
            background-size cover
    // 超值抢购-大牌甄选
    .hot
        width 90vw
        height 31vh
        padding 0.5vh 5vw 0 5vw
        .hot-box
            width 100%
            height 100%
            border-radius 5px
            overflow hidden
            background-color #fff
            .menu
                height 21vh
                width 100%
                display flex
                .menufs
                    flex 1
                    border-bottom 1px solid #eee
                    padding 0.5vh
                    margin 4px
                    .menu-first-title,.menu-second-title,.menu-msg,.menu-price
                        height 3vh
                        line-height 3vh
                    .menu-msg
                        font-size 14px
                        width 38vw
                        white-space nowrap      /*超出的空白区域不换行*/
                        overflow hidden        /*超出隐藏*/
                        text-overflow: ellipsis /*超出部分省略号*/
                    .menu-price .price
                        font-size 18px
                        font-weight bold
                        color #f63d2b
                        letter-spacing -0.3vw
                    .menu-price .price-before
                        font-size 14px
                        color #bbb
                        text-decoration line-through
                    .menu-img-box
                        width 40vw
                        height 9vh
                        border-radius 5px
                        overflow hidden
                        img 
                            width 100%
                            height 100%
                .menu-first
                    border-right 1px solid #eee
                    .menu-first-title .panic-buying
                        color #fe5800
                        font-size 16px
                    .menu-first-title .time 
                        background-color #fe6708
                        width 0.8vw
                        height 0.8vw
                        color #fff 
                        font-size 10px
                .menu-second .menu-second-title
                    color #d49a20 
            .sub-menu
                height 10vh
                width 100%
                display flex
                .submenu
                    flex 1
                    .sub-menu-price,.msg-box,.sub-menu-title
                        height 3vh
                        line-height 3vh
                    .msg 
                        display flex
                        height 8vh
                        width 42vw
                        .msg-box
                            height 8vh
                            width 27vw
                            .title
                                display inline-block
                                font-size 14px
                                width 27vw
                                white-space nowrap      /*超出的空白区域不换行*/
                                overflow hidden        /*超出隐藏*/
                                text-overflow: ellipsis /*超出部分省略号*/
                        .sub-menu-price 
                            letter-spacing -0.3vw
                            .price
                                font-size 18px
                                color #f63d2b
                                font-weight bold
                            .price-before
                                font-size 14px
                                color #bbb
                                text-decoration line-through
                        .sub-menu-img
                            width 12vw
                            height 12vw
                            border-radius 3px
                            background-size contain
                            img 
                                width 100%
                                height 100%
                .sub-menu-first
                    border-right 1px solid #eee
                    .sub-menu-title
                        font-size 16px
                        .take-away
                            color #366be1
                            font-weight bold
                        .to-home-logo 
                            background-color #366be1
                            height 1.2vw
                            width 15vw
                            border-radius 3px
                            line-height 3vw
                            .iconfont
                                color #feee75
                            .tohome
                                color #fff
                                font-size 3vw
                                
                .sub-menu-second
                    .fresh
                        color #ea4857
                        font-weight bold
                    .new-logo
                        height 1vw
                        width 10vw
                        background-color #f8f0f1
                        border-radius 4px
                        line-height 3vw
                        .new
                            color #f74d74
                            font-size 3vw
    //广告2
    .banner2 
        width 90vw
        height 10vh
        padding 1vh 5vw
        .banner2-box
            border-radius 5px
            background-color #fff
            width 90vw
            height 10vh
            overflow hidden
            ul 
                list-style none
                width 450vw
                height 10vh
                animation lunbo 6s ease-out infinite
             
            li 
                display inline-block
                width 90vw
                height 10vh
                float left
            img 
                width 100%
                height 100%
                
                
@keyframes lunbo 
    0%,23% 
        margin-left 0
        // transform:translateX(0)
    25%,48%
        margin-left -90vw
        // transform:translateX(-337px)
    50%,72%
        margin-left -180vw
        // transform:translateX(-674px)
    75%,100%
        margin-left -270vw
        // transform:translateX(-1011px)

            
            