@font-face {
  font-family: 'iconfont';
  src: url("./font/iconfont.eot");
  src: url("./font/iconfont.eot?#iefix") format('embedded-opentype'), url("./font/iconfont.woff2") format('woff2'), url("./font/iconfont.woff") format('woff'), url("./font/iconfont.ttf") format('truetype'), url("./font/iconfont.svg#iconfont") format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #060606;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.footer {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 6vh;
  background-color: #fff;
  justify-content: center;
  align-content: center;
  bottom: 0;
}
.footer .footer-item {
  flex: 1;
  text-align: center;
}
.footer .footer-item span.iconfont {
  font-size: 30px;
  padding: 9px 0;
}
.footer .footer-item p {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  bottom: 1px;
}
.search {
  width: 100%;
  height: 7vh;
  background-color: #1678ff;
  display: flex;
  font-size: 0;
}
.search .search-city {
  width: 120px;
  padding: 3px;
  font-size: 0;
}
.search .search-city .search-city-box {
  margin: 12px 4px;
}
.search .search-city span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.search .search-city .iconfont {
  font-size: 20px;
}
.search .search-bar-form {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 0;
}
.search .search-bar-form .search-bar-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.search .search-bar-form .search-bar-box .search-bar-input {
  width: 100%;
  height: 5vh;
  margin: 10px 0;
  padding: 0 30px;
}
.search .search-bar-form span {
  position: absolute;
  font-size: 20px;
  top: 35%;
}
.search .search-bar-form span.left {
  left: 0;
}
.search .search-bar-form span.right {
  right: 0;
}
.search .search-my {
  width: 70px;
  padding: 3px;
  margin: 10px 10px;
}
.search .search-my .iconfont {
  font-size: 30px;
  color: #fff;
}
.container {
  height: 87vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container .user {
  height: 20vh;
  width: 90vw;
  padding: 1vh 5vw 1vh 5vw;
}
.container .user .user-items {
  height: 20vh;
  width: 90vw;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}
.container .user .user-items .user-items-box {
  height: 20vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}
.container .user .user-items .user-items-box .user-item {
  width: 18vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .user .user-items .user-items-box .user-item .iconfont {
  font-size: 28px;
}
.container .user .user-items .user-items-box .user-item .icon-tilte {
  font-size: 12px;
}
.container .user .user-items .scroll {
  position: relative;
  height: 2vh;
  left: 50%;
  margin-left: -10vw;
}
.container .user .user-items .scroll .white {
  height: 0.5vh;
  width: 20vw;
  border-radius: 5px;
  position: relative;
  background-color: #f7f7f7;
}
.container .user .user-items .scroll .blue {
  position: absolute;
  width: 8vw;
  height: 100%;
  border-radius: 5px;
  background-color: #1b81d3;
}
.container .nav {
  width: 90vw;
  height: 8vh;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .nav .nav-box {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 3px;
  padding: 6px 3px 0 3px;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.container .nav .nav-box .nav-title {
  width: 16vw;
  height: 100%;
}
.container .nav .nav-box .nav-title .title {
  font-size: 14px;
}
.container .nav .nav-box .nav-title .sub-title {
  font-size: 12px;
  color: #bbb;
}
.container .nav .nav-box .nav-img-box {
  width: 8vw;
  height: 4vh;
}
.container .nav .nav-box .nav-img-box img {
  width: 100%;
  height: 100%;
}
.container .nav .nav-box .icon-title {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 5px 0 5px;
  color: #fff;
  font-size: 6px;
  background-color: #f98202;
}
.container .banner {
  width: 90vw;
  height: 13vh;
  padding: 1vh 5vw;
}
.container .banner .banner-box {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: url("./images/banner.jpg");
  background-size: cover;
}
.container .hot {
  width: 90vw;
  height: 31vh;
  padding: 0.5vh 5vw 0 5vw;
}
.container .hot .hot-box {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.container .hot .hot-box .menu {
  height: 21vh;
  width: 100%;
  display: flex;
}
.container .hot .hot-box .menu .menufs {
  flex: 1;
  border-bottom: 1px solid #eee;
  padding: 0.5vh;
  margin: 4px;
}
.container .hot .hot-box .menu .menufs .menu-first-title,
.container .hot .hot-box .menu .menufs .menu-second-title,
.container .hot .hot-box .menu .menufs .menu-msg,
.container .hot .hot-box .menu .menufs .menu-price {
  height: 3vh;
  line-height: 3vh;
}
.container .hot .hot-box .menu .menufs .menu-msg {
  font-size: 14px;
  width: 38vw;
  white-space: nowrap /*超出的空白区域不换行*/;
  overflow: hidden /*超出隐藏*/;
  text-overflow: ellipsis /*超出部分省略号*/;
}
.container .hot .hot-box .menu .menufs .menu-price .price {
  font-size: 18px;
  font-weight: bold;
  color: #f63d2b;
  letter-spacing: -0.3vw;
}
.container .hot .hot-box .menu .menufs .menu-price .price-before {
  font-size: 14px;
  color: #bbb;
  text-decoration: line-through;
}
.container .hot .hot-box .menu .menufs .menu-img-box {
  width: 40vw;
  height: 9vh;
  border-radius: 5px;
  overflow: hidden;
}
.container .hot .hot-box .menu .menufs .menu-img-box img {
  width: 100%;
  height: 100%;
}
.container .hot .hot-box .menu .menu-first {
  border-right: 1px solid #eee;
}
.container .hot .hot-box .menu .menu-first .menu-first-title .panic-buying {
  color: #fe5800;
  font-size: 16px;
}
.container .hot .hot-box .menu .menu-first .menu-first-title .time {
  background-color: #fe6708;
  width: 0.8vw;
  height: 0.8vw;
  color: #fff;
  font-size: 10px;
}
.container .hot .hot-box .menu .menu-second .menu-second-title {
  color: #d49a20;
}
.container .hot .hot-box .sub-menu {
  height: 10vh;
  width: 100%;
  display: flex;
}
.container .hot .hot-box .sub-menu .submenu {
  flex: 1;
}
.container .hot .hot-box .sub-menu .submenu .sub-menu-price,
.container .hot .hot-box .sub-menu .submenu .msg-box,
.container .hot .hot-box .sub-menu .submenu .sub-menu-title {
  height: 3vh;
  line-height: 3vh;
}
.container .hot .hot-box .sub-menu .submenu .msg {
  display: flex;
  height: 8vh;
  width: 42vw;
}
.container .hot .hot-box .sub-menu .submenu .msg .msg-box {
  height: 8vh;
  width: 27vw;
}
.container .hot .hot-box .sub-menu .submenu .msg .msg-box .title {
  display: inline-block;
  font-size: 14px;
  width: 27vw;
  white-space: nowrap /*超出的空白区域不换行*/;
  overflow: hidden /*超出隐藏*/;
  text-overflow: ellipsis /*超出部分省略号*/;
}
.container .hot .hot-box .sub-menu .submenu .msg .sub-menu-price {
  letter-spacing: -0.3vw;
}
.container .hot .hot-box .sub-menu .submenu .msg .sub-menu-price .price {
  font-size: 18px;
  color: #f63d2b;
  font-weight: bold;
}
.container .hot .hot-box .sub-menu .submenu .msg .sub-menu-price .price-before {
  font-size: 14px;
  color: #bbb;
  text-decoration: line-through;
}
.container .hot .hot-box .sub-menu .submenu .msg .sub-menu-img {
  width: 12vw;
  height: 12vw;
  border-radius: 3px;
  background-size: contain;
}
.container .hot .hot-box .sub-menu .submenu .msg .sub-menu-img img {
  width: 100%;
  height: 100%;
}
.container .hot .hot-box .sub-menu .sub-menu-first {
  border-right: 1px solid #eee;
}
.container .hot .hot-box .sub-menu .sub-menu-first .sub-menu-title {
  font-size: 16px;
}
.container .hot .hot-box .sub-menu .sub-menu-first .sub-menu-title .take-away {
  color: #366be1;
  font-weight: bold;
}
.container .hot .hot-box .sub-menu .sub-menu-first .sub-menu-title .to-home-logo {
  background-color: #366be1;
  height: 1.2vw;
  width: 15vw;
  border-radius: 3px;
  line-height: 3vw;
}
.container .hot .hot-box .sub-menu .sub-menu-first .sub-menu-title .to-home-logo .iconfont {
  color: #feee75;
}
.container .hot .hot-box .sub-menu .sub-menu-first .sub-menu-title .to-home-logo .tohome {
  color: #fff;
  font-size: 3vw;
}
.container .hot .hot-box .sub-menu .sub-menu-second .fresh {
  color: #ea4857;
  font-weight: bold;
}
.container .hot .hot-box .sub-menu .sub-menu-second .new-logo {
  height: 1vw;
  width: 10vw;
  background-color: #f8f0f1;
  border-radius: 4px;
  line-height: 3vw;
}
.container .hot .hot-box .sub-menu .sub-menu-second .new-logo .new {
  color: #f74d74;
  font-size: 3vw;
}
.container .banner2 {
  width: 90vw;
  height: 10vh;
  padding: 1vh 5vw;
}
.container .banner2 .banner2-box {
  border-radius: 5px;
  background-color: #fff;
  width: 90vw;
  height: 10vh;
  overflow: hidden;
}
.container .banner2 .banner2-box ul {
  list-style: none;
  width: 450vw;
  height: 10vh;
  animation: lunbo 6s ease-out infinite;
}
.container .banner2 .banner2-box li {
  display: inline-block;
  width: 90vw;
  height: 10vh;
  float: left;
}
.container .banner2 .banner2-box img {
  width: 100%;
  height: 100%;
}
@-moz-keyframes lunbo {
  0%, 23% {
    margin-left: 0;
  }
  25%, 48% {
    margin-left: -90vw;
  }
  50%, 72% {
    margin-left: -180vw;
  }
  75%, 100% {
    margin-left: -270vw;
  }
}
@-webkit-keyframes lunbo {
  0%, 23% {
    margin-left: 0;
  }
  25%, 48% {
    margin-left: -90vw;
  }
  50%, 72% {
    margin-left: -180vw;
  }
  75%, 100% {
    margin-left: -270vw;
  }
}
@-o-keyframes lunbo {
  0%, 23% {
    margin-left: 0;
  }
  25%, 48% {
    margin-left: -90vw;
  }
  50%, 72% {
    margin-left: -180vw;
  }
  75%, 100% {
    margin-left: -270vw;
  }
}
@keyframes lunbo {
  0%, 23% {
    margin-left: 0;
  }
  25%, 48% {
    margin-left: -90vw;
  }
  50%, 72% {
    margin-left: -180vw;
  }
  75%, 100% {
    margin-left: -270vw;
  }
}
