body{
    /* margin默认8像素 */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4c4c4c url('https://unsplash.it/1500/900?image=1021');
    background-size: cover;
}
.wrapper{
    width: 850px;
    display: flex;
}
.video{
    /* 边框阴影 */
   box-shadow: 0 0 1px 3px rgba(0,0,0,0.1); 
   
}
.speed{
    background: #efefef;
    /* 撑起父容器剩下的所有空间 */
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 0 1px 3px rgba(0,0,0,0.1); 
    overflow: hidden;
}
.speed-bar{
    width: 100%;
    height: 16.3%;
    /* 背景渐变 */
    background: linear-gradient(-170deg,#2376ae 0%,#c16ecf 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: #fff;
    cursor: pointer;
}