
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;padding: 0;
}
body{
    padding-top: 30px;
}
body,th,td{
    font:12px Helvetica, Arial,sans-serif;
    line-height: 1.62;
}
html{
    color:#111;
    background: #fff;
}
ul,ol{
    list-style: none;
}
li{
    text-align: -webkit-matvh-parent;
}
a{
    cursor: pointer;
}
a:visited{
    color: #669;
    text-decoration: none;
}
a:link{
    color:#37a;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
h1{
    /* 允许长单词换行到下一行 */
    word-wrap: break-word;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
}
form{
    margin: 0;
    padding: 0;
    border: 0px;
}
input, button,textarea,select,optgroup,option{
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button,textarea,select{
    *font-size: 100%;
}
input{
    margin-right: 3px;
    vertical-align: middle;
    font-size: 12px;
}
.wrapper{
    width: 950px;
    margin: 0 auto;
}



/* 导航栏 */
#anony-nav{
    width: 1080px;
    margin: 0 auto 25px;
}
#anony-nav .anony-nav-links{
    float: right;
    margin-top: 6px;
}
#anony-nav .anony-nav-links li{
    display: inline-block;
    *display: inline;
    zoom:1;
    margin: 0 14px 0 0px;
}
#anony-nav .anony-nav-links li a{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 40px;
    height: 20px;
    margin: 0;
    line-height: 20em;
    overflow: hidden;
    outline: none;
    vertical-align: middle;
    background: transparent url('https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png');
}
#anony-nav .anony-nav-links li .lnk-book{
    background-position: 0 0;
}
#anony-nav .anony-nav-links li .lnk-movie{
    background-position: -60px 0;
}
#anony-nav .anony-nav-links li .lnk-music{
    background-position: -120px 0;
}
#anony-nav .anony-nav-links li .lnk-events{
    background-position: -299px 0;
}
#anony-nav .anony-nav-links li .lnk-group{
    background-position: -180px 0;
}
#anony-nav .anony-nav-links li .lnk-read{
    background-position: 0 0;
    background:transparent url('https://img3.doubanio.com/f/sns/f3ba00ef46f185989b70ac6841d9f4d67b6e3a25/pics/sns/anony_home/ic_read_home_nav.pnghttps://img3.doubanio.com/f/sns/f3ba00ef46f185989b70ac6841d9f4d67b6e3a25/pics/sns/anony_home/ic_read_home_nav.png')no-repeat 100% 100%;
    background-size:cover;
}
#anony-nav .anony-nav-links li .lnk-fm{
    background-position: -241px 0;;
}
#anony-nav .anony-nav-links li .lnk-shijian{
    background:transparent url('https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png') no-repeat 100% 100%;
}
#anony-nav .anony-nav-links li .lnk-market{
    width: 42px;
    background-position: -421px 0;
}
#anony-nav h1{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: center;
    width: 160px;
    height: 34px;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    background: url('https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png') no-repeat 0 0;
    overflow: hidden;
}
#anony-nav h1 a{
    display: block;
    height: 34px;
    line-height: 10em;
}
#anony-nav .anony-srh {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
    width: 270px;
    height: 30px;
    border: 1px solid #c3c3c3;
}
#anony-nav .anony-srh .inp{
    display: block;
    height: 30px;
    overflow: hidden;
}
#anony-nav .anony-srh .inp input{
    width: 240px;
    border: none;
    font-size: 13px;
    height: 20px;
    padding: 5px;
}
#anony-nav .anony-srh .bn{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background:url("https://img3.doubanio.com/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png") 50% 50% no-repeat  ;
}
#anony-nav .anony-srh .bn input{
    border: none;
    background: transparent;
    *padding-left:30px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 0;
    color:transparent;
    cursor: pointer;
}

/* 首页广告-登录注册 */
#anony-reg-new {
    margin-bottom: 25px;
    /*  
        100% 超出等比例缩放
        cover 超出剪裁
        contain 超出一边适应
    */
    background-size: contain;
    background-position: calc(50% - 305px) top;
    background-position: -webkit-calc(50% - 305px) top;
    background-repeat: no-repeat;
    background-color: #edf4ed;
}
#anony-reg-new .wrapper{
    position: relative;
    padding: 0 0 4px;
    overflow: visible;
    zoom:1;
}
#anony-reg-new .wrapper :before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: 0 -150px;
}
#anony-reg-new .wrapper .app{
    z-index: 2;
} 







